body{
    background-color: #273d57;
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    margin: 5px;
}

.menu{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    margin: 0;
}

.logo{
    width: 130px;
    height: 90px;
    float: left;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}

a.menu_hambuergesa{
    line-height: 80px;
    margin: 0 15px;
    float: right;
}

a.menu_hambuergesa:hover{
    background-color: #273d57;
    color: white;
    transition: 0.5s;
}

.contenedor {
      display: flex;
      flex-wrap: wrap; 
      gap: 20px;       
      justify-content: center; 
    }

.tarjeta {
      width: 300px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      background: white;
      margin: 15px;
    }

    .tarjeta img {
      width: 300px;
      height: 200px; 
      display: block;
    }

    .tarjeta .contenido {
      padding: 15px;
      background-color: white; 
    }

    .tarjeta .contenido h3 {
      margin: 0 0 10px 0;
      font-size: 18px;
    }

    .tarjeta .contenido p {
      margin: 0;
      font-size: 14px;
      color: #555;
    }

    .tarjeta_catalogo {
      width: 300px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      background: white;
      margin: 15px;
    }

    .tarjeta_catalogo:hover {
      width: 300px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      background: white;
      margin: 15px;
      transition: transform 0.3s ease;
      transform: scale(1.1);    
    }

    .tarjeta_catalogo img {
      width: 300px;
      height: 200px; 
      display: block;
    }

    .tarjeta_catalogo .contenido {
      padding: 15px;
      background-color: white; 
    }

    .tarjeta_catalogo .contenido h3 {
      margin: 0 0 10px 0;
      font-size: 18px;
      text-align: center;
    }

h2{
    color: white;
    text-align: center;
    margin: 20px;
}

footer{
    color:white;
    text-align: center;
}

.bienvenida{
    text-align: center;
    margin: 20px;;
}

.bienvenida p{
    color: rgb(215, 215, 215);
    font-size: 20px;
}

.nosotros{
    text-align: justify;
    color: rgb(215, 215, 215);
    margin: 20px;;
    font-size: 20px;
}